# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.AnotherPlayerIGuess.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

##
## The BASS dlls
##
bass.dll
bass_aac.dll
basshls.dll
bassopus.dll
basswebm.dll